body {
  background-color: #bfd6d9;
  font-family: sans-serif;
}
h1 {
  color: #a64f1c;
}

.list li {
  line-height: 1.5rem;
}

a.hi {
  background-color: #f2bf91;
}

.list li a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px dotted #a64f1c;
  padding-bottom: 3px;
}
